.descriptionBox {
  display: grid;
  grid-template-columns: auto;
  font-weight: lighter;
}

.current {
  grid-row: 1;

  display: grid;
}

.mainCity {
  grid-column: 1 / 2;
  font-weight: 700px;
}

.mainTemp,
.mainCity {
  font-size: 45px;
}

.currentTemp {
  grid-column: 4;
}

.units {
  font-size: 18px;
  font-weight: 100;
  color: rgba(132, 131, 131, 0.6);
}

.currentDescription {
  display: grid;
  grid-template-columns: auto;

  margin-bottom: 30px;
}

.detailsArea {
  grid-column: 1 / 2;
  font-size: 19px;
}

.weatherImage {
  grid-column: 4;
}
