.descriptionBox {
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  font-weight: lighter;
}

.current {
  grid-row: 1;

  display: grid;
  align-items: center;
}

.mainCity {
  grid-column: 1 / 2;
  font-weight: 700;
  font-size: 65px;
}

.mainTemp {
  font-size: 45px;
}

.currentTemp {
  grid-column: 4;
}

.units {
  font-size: 18px;
  font-weight: 100;
  color: rgba(193, 191, 191, 0.6);
}

.currentDescription {
  display: grid;
  align-items: center;
  grid-template-columns: auto;

  margin-bottom: 30px;
}

.detailsArea {
  grid-column: 1 / 2;
  font-size: 19px;
}

.weatherImage {
  grid-column: 4;
}

@media (max-width: 600px) {
  .mainCity {
    font-size: 35px;
  }

  .mainTemp {
    font-size: 30px;
  }
}
