.searchArea {
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

form {
  grid-row: 1;
  grid-column: 1 /3;
}

.searchBar {
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  width: 60%;
}

.searchButton,
.locationButton {
  border-radius: 10px;
  background-color: white;
  border: none;

  grid-row: 1;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: slategray;
}

.locationButton {
  width: 90%;
  height: 33px;
  grid-column: 4;
  position: relative;
  top: 3px;
}
