.weatherForecast {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 400;
}

.forecastDay {
  font-size: 30px;
}

.forecastDetails {
  font-weight: 100;
  color: rgba(193, 191, 191, 0.6);
  font-weight: lighter;
}

.forecastDetails span {
  padding-right: 4px;
}

.forecastHigh,
.forecastLow {
  color: white;
  font-weight: 700;
}

@media (max-width: 530) {
  .forecastDay {
    font-size: 20px;
  }

  .forecastImage img {
    width: 90px;
  }

  .weatherForecast {
    font-size: 18px;
  }
}
