.App {
  background: linear-gradient(
    to top,
    rgb(32, 38, 57) 21.4%,
    rgb(63, 76, 119) 60.2%
  );
  color: whitesmoke;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  width: 85%;
}
