.tempNow {
  font-size: 80px;
}

.units {
  position: relative;
  font-size: 20px;
}

.active {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #5cc1b3;
}

a:hover {
  text-decoration: dotted;
  cursor: pointer;
}

.tempRange {
  font-size: 18px;
  color: rgb(70, 69, 69);
  display: block;
  position: relative;
  margin-top: -25px;
  text-align: left;
}
